.bodyContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#large {
  font-size: 50px;
  line-height: 1.5;
  font-weight: 400;
}

#small {
  color: #737171;
  font-size: 25px;
  padding-top: 20px;
  font-weight: 400;
}

.priceWrapper {
  width: 400px;
  height: 190px;
  /* background-color: brown; */
  margin-right: 10%;
  position: relative;
}

.background {
  background-color: black;
  width: 350px;
  height: 150px;
  position: absolute;
  bottom: 0;
  border-radius: 1em;
  box-shadow: 10px 10px 5px #bebfc5;
}

.price {
  background: hsla(266, 77%, 55%, 1);

  background: linear-gradient(
    135deg,
    hsla(266, 77%, 55%, 1) 29%,
    hsla(16, 83%, 59%, 1) 66%,
    hsla(19, 90%, 58%, 1) 84%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(266, 77%, 55%, 1) 29%,
    hsla(16, 83%, 59%, 1) 66%,
    hsla(19, 90%, 58%, 1) 84%
  );

  background: -webkit-linear-gradient(
    -50deg,
    hsla(266, 77%, 55%, 1) 29%,
    hsla(16, 83%, 59%, 1) 66%,
    hsla(19, 90%, 58%, 1) 84%
  );
  /* transform: rotate(180deg); */
  /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8035E5", endColorstr="#ED6C3F", GradientType=1 ); */
  width: 350px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1em;
  display: flex;
  align-items: center;
}

.price h1 {
  font-size: 8rem;
  font-weight: 400;
  color: #fdfced;
}

.price h5 {
  color: #fdfced;
  font-size: 0.7rem;
}

.price a {
  color: #fdfced;
  margin-top: 50px;
}

#dollar {
  width: 25px;
  height: 25px;
  background-color: #fdfced;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dollar img {
  width: 25px;
}

.featuredArtistContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 25px;
}

#featuredText {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
}

.featuredArtistContainer img {
  width: 50px;
  height: 40px;
  padding-left: 10px;
}

.rainbowItems {
  min-width: 50px;
  height: 50px;
  background-color: chocolate;
  margin-left: 20px;
  border-radius: 1rem;
}

.rainbow-1 {
  background: #b3c575;
  background-image: radial-gradient(at 51.6% 80%, #f0af24 0px, transparent 50%),
    radial-gradient(at 25.2% 74%, hsl(351, 45%, 57%) 0px, transparent 50%),
    radial-gradient(at 90% 10%, hsl(117, 64%, 64%) 0px, transparent 50%),
    radial-gradient(at 13.4% 26.7%, #2ed9f0 0px, transparent 50%),
    radial-gradient(at 90% 45%, hsl(70, 59%, 42%) 0px, transparent 50%);
  color: beige;
  display: grid;
  justify-content: center;
  align-items: center;

  /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A4E7DE", endColorstr="#FF9D00", GradientType=1 ); */
}

.rainbow-2 {
  background: #5ffb40;
  background-image: radial-gradient(
      at 64% 70%,
      hsl(12, 75%, 41%) 0px,
      transparent 50%
    ),
    radial-gradient(at 22% 99%, hsl(70, 56%, 45%) 0px, transparent 50%),
    radial-gradient(at 18% 99%, hsl(314, 67%, 42%) 0px, transparent 50%),
    radial-gradient(at 34% 34%, hsl(208, 22%, 52%) 0px, transparent 50%),
    radial-gradient(at 64% 77%, hsl(117, 77%, 17%) 0px, transparent 50%);
  color: beige;
  display: grid;
  justify-content: center;
  align-items: center;
  /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#60E905", endColorstr="#EC0F0F", GradientType=1 ); */
}

.rainbow-3 {
  /* background: hsla(181, 96%, 55%, 1); */

  background: #003994;
  background-image: radial-gradient(
      at 85% 85.8%,
      hsl(302, 96%, 57%) 0px,
      transparent 50%
    ),
    radial-gradient(at 85.5% 41.5%, hsl(294, 80%, 56%) 0px, transparent 50%),
    radial-gradient(at 100% 18%, hsl(225, 77%, 72%) 0px, transparent 50%),
    radial-gradient(at 2.5% 54.6%, #42ebce 0px, transparent 50%);
  color: beige;
  display: grid;
  justify-content: center;
  align-items: center;
}

.rainbow-4 {
  background-color: #bebfc5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistWrapper {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.artist {
  width: 200px;
  height: 250px;
  border-radius: 1rem;
  /* background-color: black; */
  position: relative;
}

.artist-1 img {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 2rem;
  width: 110px;
  height: 160px;
}

.artist-2 img {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 2rem;
  width: 110px;
  height: 160px;
}

.artist-3 img {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 2.5rem;
  width: 110px;
  height: 160px;
}

.innerArtist {
  background-color: #ebebeb;
  width: 200px;
  height: 180px;
  position: absolute;
  bottom: 0;
  border-radius: 1rem;
  /* opacity:0.5; */
  display: flex;
  justify-content: space-around;
  align-items: end;
  box-shadow: 10px 10px 5px #bebfc5;
}

#name {
  color: #737171;
  font-weight: 300;
}

.innerArtist h6 {
  font-size: 1rem;
}

.parallelograph {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 200px;
  clip-path: polygon(66% 1%, 100% 33%, 100% 100%, 66% 60%);
  background-color: #ed6b36;
}

#status {
  margin-bottom: 50px;
}

#parallelographPurple {
  background-color: #6f30cf;
  inset: (10% 45% 0% 45% round 10px);
}

#parallelographRed {
  background-color: #de1959;
}

#whiteDot {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#greenDot {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
}

.innerArtist button {
  background-color: #001d2b;
  color: #d6d6d6;
  width: 80px;
  height: 35px;
  border-radius: 0.5rem;
  font-size: 15px;
  border-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.follow {
  width: 200px;
  height: 250px;
  border-radius: 1rem;
  /* background-color: black; */
  position: relative;
}

.socialIcons {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 200px;
  /* background-color: #d6d6d6; */
  display: flex;
  flex-direction: column;
}

.socialIcons img {
  width: 25px;
  height: 25px;
}

.followUs {
  position: absolute;
  top: 8rem;
  font-size: 25px;
  /* background-color: #fd2515; */
}

.red {
  width: 25px;
  height: 5px;
  background-color: hsla(0, 88%, 49%, 1);
}

#longerRed {
  width: 170px;
  height: 5px;
  background-color: hsla(0, 88%, 49%, 1);
}

.arrow {
  position: absolute;
  bottom: 0;
  background-color: #ebebeb;
  width: 50px;
  height: 35px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1500px) {
  .bodyContainer,
  .featuredArtistContainer,
  .artistWrapper {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1008px) {
  .artistWrapper {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .bodyContainer {
    display: inline-flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 782px) {
  #featuredText {
    font-size: 1.5rem;
  }
  #large {
    font-size: 25px;
  }
  #small {
    font-size: 20px;
  }
}
