.navBar {
  background-color: #dbdfe1;
  width: 100%;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px;
  height:50px;
  margin-left: 0;
}

.navHeadings ul {
  display: flex;
}

.navHeadings li {
  margin: 15px;
  color: #737171;
}

.search {
  width: 120px;
  height: 40px;
  background-color: #bebfc5;
  border-style: none;
  border-radius: 0.5em;
  position: relative;
}

.search img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
.icons {
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.icons img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

